
@{
    ViewBag.Title = "FormResults";
}

<h2>FormResults</h2>
<p>
    Ocena z przedmiotu 1: <b>@Html.Encode(ViewData["przedmiot1"])</b>
</p>

<p>
    Ocena z przedmiotu 2: <b>@Html.Encode(ViewData["przedmiot2"])</b>
</p>

<p>
    Ocena z przedmiotu 3: <b>@Html.Encode(ViewData["przedmiot3"])</b>
</p>

<p>
    Ocena z przedmiotu 4: <b>@Html.Encode(ViewData["przedmiot4"])</b>
</p>

<p>
    Ocena z przedmiotu 5: <b>@Html.Encode(ViewData["przedmiot5"])</b>
</p>



