@{
    ViewBag.Title = "Przewiduj Oceny";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



    @using (Html.BeginForm("HandlePredictedMarks", "Home")) {

    <fieldset>

        Przedmiot1

        @Html.DropDownList("Ocena1")

        Przedmiot2

        @Html.DropDownList("Ocena2")

        Przedmiot3

        @Html.DropDownList("Ocena3")

        Przedmiot4

        @Html.DropDownList("Ocena4")

        Przedmiot5

        @Html.DropDownList("Ocena5")

        Przedmiot6

        @Html.DropDownList("Ocena6")

        Przedmiot7

        @Html.DropDownList("Ocena7")

        Przedmiot8

        @Html.DropDownList("Ocena8")

        Przedmiot9

        @Html.DropDownList("Ocena9")

        Przedmiot10

        @Html.DropDownList("Ocena10")

        <p>

            <input type="submit" value="Submit"/>

        </p>

    </fieldset>

    } 




